* {
  margin: 0;
  padding: 0;
  border: 0;
}

p {
  margin: 0;
  padding: 0;
  border: 0;
}

h1 {
  margin: 0;
  padding: 0;
  border: 0;
}

h2 {
  margin: 0;
  padding: 0;
  border: 0;
}

h3 {
  margin: 0;
  padding: 0;
  border: 0;
}

h4 {
  margin: 0;
  padding: 0;
  border: 0;
}

@mixin redButton {
  display: block;
  width: 150px;
  background-color: #eb5757;
  text-decoration: none;
  color: white;
  border-radius: 25px;
  padding: 10px 40px;
  position: relative;
  // background-image: url(assets/images/buttonBackground.png);
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 14px;
  background-position: -110px 0;
}

a {
  text-decoration: none;
  color: black;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 999;
  transition: all 0.3s;
  padding: 20px;
  overflow-x: hidden;
  box-shadow: 0px 0px 20px rgb(1 41 112 / 10%);
  background-color: #fff;
}

.notificationMenu{
 
  .notificationItem{
    width: 200px;
    margin-bottom: 15px;
    .notificationHeading{
      font-weight: 600;
    }
  }
  .dropdown-item{
    white-space:normal;
  }
}

.sidebarwidth {
  width: 0;
  display: none;
  transition: all 0.3s;
}


.dataNotFoundDiv{
display: flex;
justify-content: center;
align-items: center;
  .dataNotFoundImg{
    width: 400px;
  }
}
.sideBarInner {
  overflow-x: hidden;
  position: relative;

  .aSideCloseButton {
    position: absolute;
    right: 0;
    display: none;
    top: 0;

    button {
      background-color: rgba(255, 0, 0, 0);
      font-size: 18px;
    }
  }

  .LogoImage {
    padding-bottom: 20px;
  }

  .sidebar-nav {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;

    .nav-item {
      margin-bottom: 5px;

      .nav-link {
        display: flex;
        align-items: center;
        font-size: 15px;
        font-weight: 600;
        transition: all 0.3;
        padding: 10px 15px;
        border-radius: 4px;
        // color: black;
        // background-color: #EB5757ce;

        span {
          // color: #EB5757;
          color: #aa97b0;
          font-size: 17px;
        }

        .sideIcon {
          font-size: 23px;
          margin-right: 30px;
          color: #aa97b0;
        }

        .ms-auto {
          font-size: 12px;
          margin-right: 10px;
          color: #aa97b0;
        }
      }

      .nav-content {
        list-style: none;
        padding-left: 4rem;

        a {
          display: flex;
          align-items: center;
          font-size: 14px;
          font-weight: 600;
          color: #eb5757ce;
          padding: 10px 0 10px 10px;
          transition: all 0.3s;

          i {
            font-size: 15px;
            margin-right: 8px;
            line-height: 0;
            border-radius: 50%;
          }
        }
      }

      .li {
        padding: 0;
        margin: 0;
        list-style: none;
      }

      .collapsed {
        background-color: white;

        span {
          color: #aa97b0;
        }

        .sideIcon {
          color: #aa97b0;
        }
      }

      .active {
        background-color: #eb5757;
        border-radius: 10px;

        .sideIcon {
          color: white;
        }

        span {
          color: white;
        }
      }
    }
  }
}

.AppFull {
  // background-color: #e8ebf046;
  margin-left: 0;
  transition: all 0.3s;
}

.App {
  margin-left: 300px;
  transition: all 0.3s;
}

header {
  .headerInner {
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navRight {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      .notificationDropDown {
        .dropdown-toggle {
          background-color: #eb575711;
          border: none;
          color: #eb5757;
          font-size: 23px;
          position: relative;

          .notificationShow {
            position: absolute;
            top: 0;
            right: 0;
          }

          &::after {
            display: none;
          }
        }
      }

      .profileDropDown {
        .dropdown-toggle {
          background-color: #eb575700;
          border: none;
          color: #eb5757;
          font-size: 23px;
          position: relative;

          img {
            border-radius: 10px;
            width: 50px;
            object-fit: cover;
            height: 50px;
          }

          &::after {
            display: none;
          }
        }

        .dropdown-menu {
          li {
            a {
              i {
                color: #eb5757;
                margin-right: 10px;
              }
            }
          }
        }
      }

      .aboutDoctor {
        text-align: right;

        .doctorName {
          color: #eb5757;
          font-weight: 600;
        }

        .doctorSpeciality {
          color: #aa97b0;
        }
      }
    }

    .menuButton {
      background-color: #aa97b000;
      color: #eb5757;
      outline: none;

      i {
        font-size: 30px;
      }
    }
  }
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;

  .card {
    width: 50%;

    .card-body {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .loginOuter {
        width: 80%;

        .loginHeader {
          margin-bottom: 20px;
        }

        .loginBody {
          .fields1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            flex-wrap: wrap;
          }

          .fields {
            margin-bottom: 10px;

            button {
              @include redButton();
            }

            label {
              display: block;
            }

            input[type="email"],
            input[type="password"] {
              width: 100%;
              height: 33px;
              border: 1px solid grey;
              border-radius: 7px;
              outline: none;
              padding: 10px;
            }
          }
        }
      }
    }
  }
}

.mainSection {
  .mainSectionWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .heading {
      text-align: left;
      width: 90%;
      margin-bottom: 20px;

      p {
        font-size: 25px;
        color: #eb5757;
        font-weight: 600;
      }
    }

    .cardForm {
      width: 90%;

      .tableSearch2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        row-gap: 15px;
        flex-wrap: wrap;
        margin-bottom: 10px;
        .tableInnerHeading {
          font-size: 25px;
          color: #eb5757;
          font-weight: 600;
        }
        input {
          border: 1px solid grey;
          padding: 5px;
          border-radius: 10px;
        }
      }
      .tableSearch {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 10px;
        input {
          border: 1px solid grey;
          padding: 5px;
          border-radius: 10px;
        }
      }
      .additionForm {
        .addMoreButton {
          display: flex;
          justify-content: flex-end;
          margin-top: 10px;
          gap: 10px;

          button {
            color: #eb5757;
            padding: 5px 10px;
            border-radius: 25px;
          }
        }

        .fields {
          .fixedValue {
            width: 100%;
            border: 1px solid rgb(219, 219, 219);
            height: 37px;
            padding: 6px;
            border-radius: 7px;

            &:focus {
              outline: #eb5757;
            }
          }

          .profileImage {
            display: flex;
            justify-content: center;

            img {
              width: 150px;
              object-fit: cover;
              height: 150px;
              border: 5px solid white;
            }
          }

          label {
            display: block;
          }

          input[type="text"],
          input[type="email"],
          input[type="number"],
          input[type="file"],
          input[type="time"],
          input[type="date"],
          .Fixed,
          select {
            width: 100%;
            border: 1px solid rgb(219, 219, 219);
            height: 38px;
            padding: 6px;
            border-radius: 7px;

            &:focus {
              outline: #eb5757;
            }
          }
          .workDays {
            width: 100%;
            border: 1px solid rgb(219, 219, 219);
            height: 52.5px;
            padding: 6px;
            border-radius: 7px;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            &:focus {
              outline: #eb5757;
            }
          }

          button {
            @include redButton;
          }

          .availOuter {
            display: flex;
            justify-content: flex-start;
            gap: 40px;
            align-items: center;

            .availInner {
              margin-left: 2%;
              display: flex;
              justify-content: center;
              gap: 10px;
              align-items: center;

              input {
                accent-color: red;
              }

              .labelDiv {
                display: flex;
                justify-content: center;
                align-items: center;
              }

              img {
                width: 35px;
              }

              .moon {
                width: 30px;
              }
            }
          }

          .toggleLabel {
            i {
              color: #eb5757;
            }
          }

          .toggleButton {
            height: 40px;
            display: flex;

            justify-content: center;
            flex-direction: column;

            .switch {
              position: relative;
              display: inline-block;
              width: 54px;
              height: 25px;
            }

            .switch input {
              opacity: 0;
              width: 0;
              height: 0;
            }

            .slider {
              position: absolute;
              cursor: pointer;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: #ccc;
              -webkit-transition: 0.4s;
              transition: 0.4s;
            }

            .slider:before {
              position: absolute;
              content: "";
              height: 18px;
              width: 18px;
              left: 4px;
              bottom: 3.55px;
              background-color: white;
              -webkit-transition: 0.4s;
              transition: 0.4s;
            }

            input:checked + .slider {
              background-color: #eb5757;
            }

            input:focus + .slider {
              box-shadow: 0 0 1px #eb5757;
            }

            input:checked + .slider:before {
              -webkit-transform: translateX(28px);
              -ms-transform: translateX(28px);
              transform: translateX(28px);
            }

            .slider.round {
              border-radius: 34px;
            }

            .slider.round:before {
              border-radius: 50%;
            }
          }
        }
      }

      th {
        white-space: nowrap;
      }

      td {
        white-space: nowrap;
      }

      .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 50px;

        .previous {
          a {
            background-color: rgb(236, 236, 236);
            padding: 5px 10px;
            border-radius: 8px;
            color: #eb5757;
          }
        }

        .next {
          a {
            background-color: rgb(236, 236, 236);
            padding: 5px 10px;
            border-radius: 8px;
            color: #eb5757;
          }
        }

        .active {
          a {
            background-color: rgb(236, 236, 236);
            padding: 5px 10px;
            border-radius: 8px;
            color: #eb5757;
          }
        }
      }


      .chart {
        .chartHeading {
          p {
            font-size: 20px;
            color: #eb5757;
            font-weight: 600;
          }

          small {
            color: grey;
          }
        }

        .box {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 80px;

          .details {
            .category {
              color: #f13e3e;
              font-weight: 600;
            }
          }
        }
      }
    }

    .doctorAppointments {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .tab {
        cursor: pointer;
        padding: 10px 20px;
        margin: 0px 2px;
        background: #eb5757;
        display: inline-block;
        color: #fff;
        border-radius: 3px 3px 0px 0px;
        box-shadow: 0 0.5rem 0.8rem #0000000c;
      }

      .panels {
        background: #fffffff6;
        box-shadow: 0 2rem 2rem #0000000c;
        min-height: 200px;
        width: 100%;

        border-radius: 3px;
        overflow: hidden;
        padding: 20px;

        .panel {
          display: none;
          animation: fadein 0.8s;

          .rewardList {
            display: flex;
            gap: 20px;
          }

          .rewardListClass {
            width: 50px;
            height: 50px;
            margin-bottom: 10px;
          }

          .metaDatasDiv {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;
          }

          .metaDatasDiv .metaData {
            background-color: rgb(201, 201, 201);
            color: white;
            padding: 5px 10px;
            border-radius: 6px;
            margin-bottom: 0;
          }

          .metaButtons {
            display: flex;
            justify-content: flex-end;
            gap: 10px;
            margin-top: 10px;
          }

          .metaButtons .viewButton {
            color: grey;
            // background-color: #02685023;
            border-radius: 5px;
            border: 1px solid #bbbbbb;
          }

          .metaButtons .acceptButton {
            color: #026851;
            background-color: #02685023;
            border-radius: 5px;
            border: 1px solid #02685091;
          }

          .metaButtons button {
            padding: 4px 15px;
          }

          .metaButtons .rejectButton {
            color: rgb(202, 0, 0);
            background-color: rgba(202, 0, 0, 0.116);
            border-radius: 5px;
            border: 1px solid rgba(202, 0, 0, 0.5);
          }

          .list-group {
            .list-group-item {
              position: relative;

              small {
                position: absolute;
                top: 10px;
                right: 10px;
                color: grey;
              }
            }
          }
        }
      }

      @keyframes fadein {
        from {
          opacity: 0;
        }

        to {
          opacity: 1;
        }
      }

      .panel-title {
        font-size: 1.5em;
        font-weight: bold;
      }

      .radio {
        display: none;
      }

      #one:checked ~ .panels #one-panel,
      #two:checked ~ .panels #two-panel,
      #three:checked ~ .panels #three-panel {
        display: block;
      }

      #one:checked ~ .tabs #one-tab,
      #two:checked ~ .tabs #two-tab {
        background: #fffffff6;
        color: #eb5757;
        border-top: 3px solid #eb5757;
      }
    }

    .appointmentDetails {
      .mainHeading {
        font-size: 25px;
        font-weight: 600;
      }

      .mainBody {
        .mainBodySection {
          .subHeading {
            margin-top: 20px;
            font-size: 16px;
            font-weight: 600;
            color: #eb5757;

            span {
              font-size: 16px;
              font-weight: 400;
            }
          }

          .testSummary {
            .tesDetails {
              display: flex;
              justify-content: space-between;
              align-items: center;
            }
          }
        }
      }
    }
  }
}

.footer2 {
  margin-top: 30px;

  .footer2Main {
    width: 90%;
    color: #eb5757;
    display: flex;
    justify-content: center;
    font-size: 12px;
    padding: 10px;
    align-items: center;

    .footer2Link {
      a {
        color: #eb5757;
        text-decoration: none;
        margin-right: 20px;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .App {
    margin-left: 0;
  }

  .sidebar {
    width: 0;
    display: none;
    transition: all 0.3s;
  }

  .sidebarwidth {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    width: 350px;
    z-index: 999;
    transition: all 0.3s;
    padding: 20px;
    overflow-x: hidden;
    box-shadow: 0px 0px 20px rgb(1 41 112 / 10%);
    background-color: #fff;
  }

  .sideBarInner {
    .aSideCloseButton {
      display: block;
    }
  }
}

@media only screen and (max-width: 991px) {
}

@media only screen and (max-width: 768px) {
  .sidebarwidth {
    width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .sidebar {
    .sideBarInner {
      .sidebar-nav {
        .nav-item {
          .nav-link {
            padding: 10px 0;
          }
        }
      }
    }
  }

  header {
    .headerInner {
      .navRight {
        .aboutDoctor {
          display: none;
        }
      }
    }
  }
}
